<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Create deck</title>

  <link rel="shortcut icon" href="/static/images/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.i18n.properties.js"></script>

</head>
  <body>
    <div class="dropdown language-dropdawn my-font">
      <span id="settings" class="glyphicon glyphicon-cog" style="font-size: 30px;" data-toggle="dropdown"></span>
      <ul id="langList" class="dropdown-menu dropdown-menu-right">
        <li><a id="labelLanguage" class="header-label">&nbsp;</a></li>
        <li class="divider"></li>
      </ul>
    </div>
    <div id="pageName" class="text-center well my-font page-header">&nbsp;</div>

    <div class="my-font">
      <table width="100%">
        <tbody>
          <tr>
            <td id="labelName" class="name-cell" align="right" width="15%">&nbsp;</td>
            <td><input type="text" id="name" class="form-control my-input"></td>
          </tr>
          <tr>
            <td id="labelDescription" class="name-cell" align="right" valign="top">&nbsp;</td>
            <td height="150"><textarea id="description" class="form-control my-ta"></textarea></td>
          </tr>
          <tr>
            <td id="labelCards" class="name-cell" align="right" valign="top">&nbsp;</td>
            <td height="300"><textarea id="cards" class="form-control my-ta"></textarea></td>
          </tr>
          <tr>
            <td id="fileLabel" class="name-cell" align="right">&nbsp;</td>
            <td align="left">
              <label class="btn btn-success my-btn">
                <input type="file" id="file" accept="text/" style="display: none;">
                <span id="import">&nbsp;</span>
              </label>
              <input type="text" id="filename" class="filename my-input my-btn" disabled>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" style="padding: 30px;">
          <button type="button" id="save" class="btn-success my-btn">&nbsp;</button>
          <button type="button" id="back" class="btn-primary my-btn">&nbsp;</button>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade my-font" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
           <div id="message" class="modal-body message-label"></div>
            <div class="modal-footer">
              <button id="close" type="button" class="btn btn-default" data-dismiss="modal">&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      updateUILang(localStorage.getItem("userLang"))

      socket.on('connect', function() {
        if (document.getElementById("langList").childNodes.length === 5) {
          socket.emit('send languages', socket.id)
        }
      })

      socket.on('message', function(mes) {
        $('#message').html($.i18n.prop(mes))
        $('#modal').modal('show')
        if (mes == 'message_deck_saved') {
          $('#name').val('').focus()
          $('#description').val('').focus()
          $('#cards').val('').focus()
          $('#filename').val('').focus()
        }
      })

      socket.on('redirect', function(url) {
        window.location = url
      })

      socket.on('get languages', function(msg) {
        for (var lang in msg) {
          var listElem = document.createElement("li")
          var langElem = document.createElement("a")
          langElem.innerHTML = msg[lang]
          langElem.id = lang
          langElem.className = "lang-label"
          listElem.appendChild(langElem)
          document.getElementById("langList").appendChild(listElem)
        }
      })

      $('#save').on('click', function() {
        var name = $('#name').val()
        var description = $('#description').val()
        var cards = $('#cards').val()
        var file = document.getElementById('file').files[0]
        if (name === "") {
          $('#message').html($.i18n.prop('message_empty_name'))
          $('#modal').modal('show')
        } else {
          socket.emit('save deck', {
            'room' : socket.id,
            'name' : name,
            'description' : description,
            'cards' : cards,
            'file' : file
          })
        }
      })

      $('#back').on('click', function() {
        socket.emit('redirect to Start', socket.id)
      })

      $('#langList').on('click', 'a', function() {
        updateUILang(this.id)
      })

      $("#file").change(function(){
       var filename = $(this).val().replace(/.*\\/, "")
       $("#filename").val(filename)
      })

      function updateUILang(lang) {
		$.i18n.properties({
		  async: true,
	      name: 'UI',
	      path: '/static/languages/',
    	  mode: 'both',
		  language: lang,
		  callback: function() {
	        $('#save').text($.i18n.prop('button_save'))
	        $('#back').text($.i18n.prop('button_back'))
	        $('#close').text($.i18n.prop('button_close'))
	        $('#pageName').text($.i18n.prop('page_name_create_deck'))
	        $('#labelName').text($.i18n.prop('label_name') + ": ")
	        $('#name').attr("placeholder", $.i18n.prop('input_deckname'))
            $('#labelDescription').text($.i18n.prop('label_description') + ": ")
            $('#description').attr("placeholder", $.i18n.prop('input_description'))
            $('#labelCards').text($.i18n.prop('label_cards') + ": ")
            $('#cards').attr("placeholder", $.i18n.prop('input_cards'))
            $('#fileLabel').text($.i18n.prop('label_from_file') + ": ")
            $('#import').text($.i18n.prop('label_import'))
            $('#labelLanguage').text($.i18n.prop('label_language') + ":")

            localStorage.setItem("userLang", lang)
	      }
		})
	  }
    </script>
  </body>
</html>