/* Mutable styles */

/* Place that contains other components */
div.container1 {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* Place that contains other components in the game room */
div.container2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* Default button */
.my-btn {
  width: 150px;
  height: 40px;
  font-size: 18px;
}
/* New card button */
.new-cards-btn {
  width: 200px;
  height: 60px;
  font-size: 24px;
}
/* Header for page name */
div.my-header {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Labels on languages list */
.langlabel {
  text-align: center;
  font-size: 16px;
}
.headerlabel {
  text-align: center;
  font-size: 18px;
}
/* Titles in the table-like constructions (not in the start page) */
th, td {
  padding: 10px;
  font-size: 18px;
}
/* Field for text input (description, cards) */
textarea.my-ta {
  width: 100%;
  height: 100%;
  font-size: 18px;
}
/* Pop-up elements style (warning and info messages) */
div.modal-text {
  font-size: 26px;
  width: 100%;
}
/* Font style in all app */
.my-font {
  font-family: "Arial";
  font-style: normal;
}

/* Unchanged styles*/
/* It is better to not change this styles */

div.language-dropdawn {
  position: fixed;
  right: 15px;
  top: 15px;
  display: block;
  z-index: 99999999;
}
div.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
div.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
}
div.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}
div.card {
  position: relative;
  text-align: center;
  height: 100%;
  color: black;
  padding: 10px;
}
div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
}
