<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CreateRoom</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.i18n.properties.js"></script>

  </head>
  <body>
    <div class="dropdown language-dropdawn">
      <button id="chooseLang" class="btn btn-primary dropdown-toggle my-btn" type="button" data-toggle="dropdown">&nbsp;</button>
      <ul id="langList" class="dropdown-menu dropdown-menu-right">
      </ul>
    </div>
    <div class="text-center well" style="font-size: 26px;"><b id="pageName">&nbsp;</b></div>

    <div class="well container2">
      <div class="text-center well" style="font-size: 26px;"><b id="headerView">&nbsp;</b></div>
      <div id="field"></div>
      <table style="width: 60%; margin-left: 20%; margin-top: 20px; margin-bottom: 20px;>">
        <tbody>
          <tr>
            <td align="right" width="25%"><b id="labelCardWidth">&nbsp;</b></td>
            <td><input type="range" min="1" max="5" class="form-control" id="inputCardWidth"
              onchange="document.getElementById('cardWidth').innerHTML = this.value; makeCard()"></td>
            <td align="left" width="10%"><b id="cardWidth">3</b></td>
          </tr>
          <tr>
            <td align="right" valign="top"><b id="labelCardHeight">&nbsp;</b></td>
            <td><input type="range" min="200" max="800" step="50" class="form-control" id="inputCardHeight"
              onchange="document.getElementById('cardHeight').innerHTML = this.value; makeCard()"></td>
            <td align="left"><b id="cardHeight">380</b></td>
          </tr>
          <tr>
            <td align="right" valign="top"><b id="labelCardFontSize">&nbsp;</b></td>
            <td><input type="range" min="10" max="50" step="5" class="form-control" id="inputCardFontSize"
              onchange="document.getElementById('cardFontSize').innerHTML = this.value; makeCard()"></td>
            <td align="left"><b id="cardFontSize">20</b></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" style="margin-top: 15px;">
          <button type="button" id="start" class="btn btn-success btn-block my-btn">&nbsp;</button>
          <button type="button" id="copy" class="btn btn-primary my-btn">&nbsp;</button>
          <button type="button" id="back" class="btn btn-info my-btn">&nbsp;</button>
        </div>
      </div>
    </div>

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      var room_id = location.href.substr(location.href.lastIndexOf("/") + 1)
      updateUILang(localStorage.getItem("userLang"))

      socket.on('connect', function() {
        socket_id = socket.id

        socket.emit('send default settings', {
          'room' : room_id,
          'client' : socket.id
        })
        socket.emit('send languages', socket.id)
      })

      socket.on('get languages', function(msg) {
        console.log(msg)
        for (var lang in msg) {
          var listElem = document.createElement("li")
          var langElem = document.createElement("a")
          langElem.innerHTML = msg[lang]
          langElem.id = lang
          langElem.className = "langlabel"
          listElem.appendChild(langElem)
          document.getElementById("langList").appendChild(listElem)
        }
      })

      socket.on('get room settings', function(mes) {
        console.log('Receive settings')
        $('#cardWidth').text(mes['defaultCardWidth'])
        $('#cardHeight').text(mes['defaultCardHeight'])
        $('#cardFontSize').text(mes['defaultCardFontSize'])
        $('#inputCardWidth').attr("min", mes['minCardWidth'])
        $('#inputCardHeight').attr("min", mes['minCardHeight'])
        $('#inputCardFontSize').attr("min", mes['minCardFontSize'])
        $('#inputCardWidth').attr("max", mes['maxCardWidth'])
        $('#inputCardHeight').attr("max", mes['maxCardHeight'])
        $('#inputCardFontSize').attr("max", mes['maxCardFontSize'])
        $('#inputCardWidth').attr("step", mes['stepCardWidth'])
        $('#inputCardHeight').attr("step", mes['stepCardHeight'])
        $('#inputCardFontSize').attr("step", mes['stepCardFontSize'])
        $('#inputCardWidth').val(mes['defaultCardWidth'])
        $('#inputCardHeight').val(mes['defaultCardHeight'])
        $('#inputCardFontSize').val(mes['defaultCardFontSize'])

        makeCard()
      })

      socket.on('redirect', function(url) {
        window.location = url
      })

      $('#langList').on('click', 'a', function() {
        updateUILang(this.id)
        console.log(this.innerHTML)
      })

      $('#copy').on('click', function() {
        var url = location.href.replace("create_room", "room")
        var tmp = $('<input>').val(url).appendTo('body').select()
        document.execCommand('copy')
        tmp.remove()
      })

      $('#back').on('click', function() {
        socket.emit('close game room', room_id)
        socket.emit('redirect to Start', socket.id)
      })

      $('#start').on('click', function() {
        sett = {
          'cardWidth' : $('#cardWidth').text(),
          'cardHeight' : $('#cardHeight').text(),
          'cardFontSize' : $('#cardFontSize').text()
        }
        socket.emit('update settings', {
          'room' : room_id,
          'settings' : sett
        })
        socket.emit('start game', {
          'room' : room_id,
          'client' : socket.id
        })
      })

      function makeCard() {
        var cardWidth = $('#cardWidth').text()
        var cardHeight = $('#cardHeight').text()
        var cardFontSize = $('#cardFontSize').text()
        var field = document.getElementById("field")
        if (field.childNodes.length !== 0) {
          field.childNodes[0].remove()
        }

        console.log(cardWidth)
        var table = document.createElement("table")
        var table_body = document.createElement("tbody")
        var row = document.createElement("tr")
        var cell = document.createElement("td")
        var card = document.createElement("div")
        var image = document.createElement("img")
        var text = document.createElement("div")
        table.appendChild(table_body)
        table.style = "width: " + cardWidth + "px; margin-left: " + (100 - (cardWidth / field.clientWidth) * 100) / 2 + "%;"
        table_body.appendChild(row)
        row.appendChild(cell)
        cell.appendChild(card)
        card.className = "card"
        card.appendChild(image)
        card.appendChild(text)
        text.className = "centered"
        text.style = "font-size: " + cardFontSize + "px;"
        text.innerHTML = $.i18n.prop('label_example')
        image.src = "/static/images/basecard.png"
        image.style = "width: 100%; height: " + cardHeight + "px;"
        field.appendChild(table)
      }

      function updateUILang(lang) {
        $.i18n.properties({
          async: true,
          name: 'UI',
          path: '/static/languages/',
          mode: 'both',
          language: lang,
          callback: function() {
            $('#start').text($.i18n.prop('button_start'))
            $('#back').text($.i18n.prop('button_back'))
            $('#copy').text($.i18n.prop('button_copy_url'))
            $('#pageName').text($.i18n.prop('page_name_create_room'))
            $('#chooseLang').text($.i18n.prop('label_choose_language'))
            $('#labelCardWidth').text($.i18n.prop('label_card_width'))
            $('#labelCardHeight').text($.i18n.prop('label_card_height'))
            $('#labelCardFontSize').text($.i18n.prop('label_card_font_size'))
            $('#labelLanguage').text($.i18n.prop('label_language') + ":")
            $('#labelView').text($.i18n.prop('label_view'))
            $('#headerView').text($.i18n.prop('label_view'))

            localStorage.setItem("userLang", lang)
            console.log("Language set")
          }
        })
      }
    </script>
  </body>
</html>