<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit deck</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <style type="text/css">
    div.container {
      width: 40%; /* Ширина слоя */
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    button.my-btn {
      width: 140px;
      height: 40px;
      font-size: 14pt;
    }
    th, td {
      padding: 10px;
      font-size: 14pt;
    }
    textarea.my-ta {
      width: 100%;
      height: 100%;
      font-size: 14pt;
    }
    .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
    }
    .vertical-align-center {
      display: table-cell;
      vertical-align: middle;
    }
    .modal-content {
      width:inherit;
      height:inherit;
      margin: 0 auto;
    }
  </style>
</head>
  <body>
    <div class="text-center well" style="font-size: 20px; "><b>Edit deck</b></div>
    <div class="well container">
      <table width="100%">
        <tbody>
          <tr>
            <td align="right" width="15%"><b>Name: </b></td>
            <td><div id="name" style="font-size: 14pt; text-align: left"></div></td>
          </tr>
          <tr>
            <td align="right" valign="top"><b>Description: </b></td>
            <td height="150"><textarea id="description" class="form-control my-ta" readonly></textarea></td>
          </tr>
          <tr>
            <td align="right" valign="top"><b>Cards: </b></td>
            <td height="300"><textarea id="cards" class="form-control my-ta"></textarea></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" style="padding: 30px;">
          <button type="button" id="save" class="btn btn-success my-btn">Save</button>
          <button type="button" id="export" class="btn btn-primary my-btn">Export</button>
          <button type="button" id="delete" class="btn btn-warning my-btn">Delete</button>
          <button type="button" id="back" class="btn btn-info my-btn">Back</button>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="message" class="modal-body" style="text-align: center; font-size: 14pt"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      var name = decodeURI(location.href.substr(location.href.lastIndexOf("/") + 1))
      $('#name').text(name)
      console.log(name)

      socket.on('connect', function() {
        socket.emit('join single room', socket.id)
        console.log(socket.id)
        socket.emit('send deck info', {
          'room': socket.id,
          'name': name
        })

        $('#save').on('click', function(e) {
          e.preventDefault()
          var cards = $('#cards').val()
          socket.emit('change deck', {
            'deck' : name,
            'cards' : cards
          })
          socket.emit('clear tmp')
          $('#message').html('Changes was saved!')
          $('#modal').modal('show')
        })

        $('#export').on('click', function(e) {
          e.preventDefault()
          window.open('/decks/' + name + '.txt')
        })

        $('#delete').on('click', function(e) {
          e.preventDefault()
          socket.emit('delete deck', name)
          socket.emit('clear tmp')
          socket.emit('redirect to Start', socket.id)
        })

        $('#back').on('click', function(e) {
          e.preventDefault()
          socket.emit('clear tmp')
          socket.emit('redirect to Start', socket.id)
        })
      })

      socket.on('get deck info', function(data) {
        $('#description').text(data.description)
        var cards = ''
        for (var i = 0; i < data.cards.length; i++) {
          cards += data.cards[i] + '\n'
        }
        $('#cards').text(cards)
      })

      socket.on('message', function(mes) {
        console.log(mes)
        $('#message').html(mes)
        $('#modal').modal('show')
      })

      socket.on('redirect', function(url) {
        console.log(url)
        window.location = url
      })
    </script>
  </body>
</html>