<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Room</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.i18n.properties.js"></script>

</head>
  <body>
    <div class="dropdown language-dropdawn">
      <button id="chooseLang" class="btn btn-primary dropdown-toggle my-btn" type="button" data-toggle="dropdown">&nbsp;
        <span class="caret"></span></button>
      <ul id="langList" class="dropdown-menu dropdown-menu-right"></ul>
    </div>
    <div class="text-center well" style="font-size: 20pt;"><b id="pageName" style="">&nbsp;</b></div>

    <div class="well container2">
      <div id="field"></div>
      <div class="text-center">
        <div class="btn-group" style="margin-top: 15px;">
          <button type="button" id="newCards" class="btn btn-success btn-block my-btn">&nbsp;</button>
          <button type="button" id="copy" class="btn btn-primary my-btn">&nbsp;</button>
          <button type="button" id="back" class="btn btn-info my-btn">&nbsp;</button>
        </div>
      </div>


    </div>
    <div id="hidden" hidden> </div>


    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      var room_id = location.href.substr(location.href.lastIndexOf("/") + 1)
      let decks_count = 0
      let max_cards = 3
      $('#joinUrl').href = location.href
      updateUILang(localStorage.getItem("userLang"))

      socket.on('connect', function() {
        socket.emit('join single room', socket.id)
        socket.emit('join game room', room_id)
        socket.emit('send languages', socket.id)
        socket.emit('prepare field', {
          'room' : room_id,
          'client' : socket.id
        })
        socket.emit('prepare cards', {
          'room' : room_id,
          'client' : socket.id
        })
      })

      socket.on('make field', function(count) {
        //console.log(count)
        decks_count = count
        if (decks_count === 1) {
          var card = document.createElement("div")
          var image = document.createElement("img")
          var text = document.createElement("div")
          card.className = "card"
          card.style = "width: " + 100 / max_cards + "%; " + "height: 300pt; left: " + 100 / max_cards + "%;"
          card.id = "card" + 0
          card.appendChild(image)
          card.appendChild(text)
          image.style = "width: 100%; height: 100%;"
          image.src = "/static/basecard.png"
          text.className = "centered"

          document.getElementById("field").appendChild(card)
        } else {
          var table = document.createElement("table")
          var table_body = document.createElement("tbody")
          table.appendChild(table_body)
          for (var i = 0; i < decks_count / max_cards; i++) {
            var row = document.createElement("tr")
            table_body.appendChild(row)
            for (var j = 0; j < max_cards; j++) {
              var cell = document.createElement("td")
              var card = document.createElement("div")
              var image = document.createElement("img")
              var text = document.createElement("div")
              cell.appendChild(card)
              //cell.width = "33%"
              cell.width = 100 / max_cards + "%"
              cell.height="400pt"
              card.className = "card"
              card.style = "height: 100%;"
              card.id = "card" + (i * max_cards + j)
              card.appendChild(image)
              card.appendChild(text)
              image.style = "width: 100%; height: 100%;"
              image.src = "/static/basecard.png"
              text.className = "centered"
              //text.style = "white-space: pre-wrap;"

              row.appendChild(cell)
              if (i * max_cards + j + 1 === decks_count) {
                for (var k = j + 1; k < max_cards; k++) {
                  var cell = document.createElement("td")
                  cell.width = 100 / max_cards + "%"
                  row.appendChild(cell)
                }
                break
              }
            }
          }
          document.getElementById("field").appendChild(table)
        }
      })

      socket.on('get new cards', function(cards) {
        for (var i = 0; i < decks_count; i++) {
          var card = document.getElementById("card" + i)
          //console.log(i + " " + cards[i])
          imageExists(cards[i], card, function(exists, url, place) {
            if (exists) {
              place.childNodes[0].src = url
              place.childNodes[1].innerHTML = ""
            } else {
              place.childNodes[0].src = "/static/images/basecard.png"
              place.childNodes[1].innerHTML = url
            }
          })
        }
      })

      socket.on('redirect', function(url) {
        window.location = url
      })

      socket.on('get languages', function(msg) {
        console.log(msg)
        for (var lang in msg) {
          var listElem = document.createElement("li")
          var langElem = document.createElement("a")
          langElem.innerHTML = msg[lang]
          langElem.id = lang
          langElem.className = "langlabel"
          listElem.appendChild(langElem)
          document.getElementById("langList").appendChild(listElem)
        }
      })

      $('#copy').on('click', function() {
        var tmp = $('<input>').val(location.href).appendTo('body').select()
        document.execCommand('copy')
        tmp.remove()
      })

      $('#back').on('click', function() {
        socket.emit('leave game room', room_id)
        socket.emit('redirect to Start', socket.id)
      })

      $('#newCards').on('click', function() {
        socket.emit('send new cards', room_id)
      })

      $('#langList').on('click', 'a', function() {
        updateUILang(this.id)
        console.log(this.innerHTML)
      })

      $(window).on("beforeunload", function() {
        socket.emit('leave game room', room_id)
      })

      function imageExists(url, place, callback) {
        var img = new Image()
        img.onload = function() { callback(true, url, place) }
        img.onerror = function() { callback(false, url, place) }
        if (/^(ftp|http|https):\/\/[^ "]+$/.test(url)) {
          img.src = url
        } else {
          callback(false, url, place)
        }
      }

      function updateUILang(lang) {
		$.i18n.properties({
		  async: true,
	      name: 'UI',
	      path: '/static/languages/',
    	  mode: 'both',
		  language: lang,
		  callback: function() {
	        $('#newCards').text($.i18n.prop('button_new_cards'))
	        $('#back').text($.i18n.prop('button_back'))
	        $('#copy').text($.i18n.prop('button_copy_url'))
	        $('#pageName').text($.i18n.prop('page_name_room'))
	        $('#chooseLang').text($.i18n.prop('label_choose_language'))

	        localStorage.setItem("userLang", lang)
	        console.log("Language set")
	      }
		})
	  }
    </script>
  </body>
</html>