<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LanguageCards</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css">

    <style type="text/css">
      div.container {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      button.my-btn {
        width: 140px;
        height: 40px;
        font-size: 14pt;
      }
      div.my-header {
        font-size: 16pt;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
      }
      .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
      }
      .modal-content {
        width:inherit;
        height:inherit;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="text-center well" style="font-size: 20pt;"><b>LanguageCards</b></div>
    <div class="well container">
      <div class="my-header">All decks:</div>
      <table id="all_decks" class="table table-striped table-bordered" style="width:100%; font-size: 14pt;">
        <thead>
          <tr>
              <th>Name</th>
              <th>Length</th>
              <th>Description</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="my-header">Selected decks:</div>
      <table id="selected_decks" class="table table-striped table-bordered" style="width:100%; font-size: 14pt;">
        <thead>
          <tr>
              <th>Name</th>
              <th>Length</th>
              <th>Description</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="selected_rows"></div>
      <div class="text-center">
        <div class="btn-group" style="padding: 30px;">
          <button type="button" id="start" class="btn btn-success my-btn">Start</button>
          <button type="button" id="createDeck" class="btn btn-primary my-btn">Create deck</button>
          <button type="button" id="editDeck" class="btn btn-info my-btn">Edit deck</button>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="message" class="modal-body" style="text-align: center; font-size: 14pt"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      console.log('http://' + document.domain + ':' + location.port)
      var t = $('#all_decks').DataTable({
        "scrollY": "300px",
        "paging": false,
        "info": false
      });
      var t_s = $('#selected_decks').DataTable({
        "scrollY": "150px",
        "paging": false,
        "info": false,
        "searching": false
      });


      socket.on('connect', function() {
        socket.emit('join single room', socket.id)
        socket.emit('send table', socket.id)

        $('#start').on('click', function(e) {
          e.preventDefault()

          var decks = []
          rows = t_s.rows().data()
          if (rows.length === 0) {
            $('#message').html('Please choose at least one deck')
            $('#modal').modal('show')
          } else {
            for (var i = 0; i < rows.length; i++) {
              decks.push(rows[i][0])
            }
            socket.emit('start game', {
            'current_room' : socket.id,
            'decks' : decks
            })
          }
        })

        $('#createDeck').on('click', function(e) {
          e.preventDefault()
          socket.emit('redirect to CreateDeck', socket.id)
        })

        $('#editDeck').on('click', function(e) {
          e.preventDefault()

          var deck
          rows = t_s.rows().data()
          if (rows.length !== 1) {
            $('#message').html('Please choose only one deck')
            $('#modal').modal('show')
          } else {
            deck = rows[0][0]
            socket.emit('redirect to EditDeck', {
            'room' : socket.id,
            'deck' : deck
            })
          }
        })

        $('#all_decks tbody').on( 'click', 'tr', function () {
          var data = t.row(this).data()
          t.row(this).remove().draw()
          t_s.row.add([
            data[0],
            data[1],
            data[2]
          ]).draw()
        })

        $('#selected_decks tbody').on( 'click', 'tr', function () {
          var data = t_s.row(this).data()
          t_s.row(this).remove().draw()
          t.row.add([
            data[0],
            data[1],
            data[2]
          ]).draw()
        })
      })

      socket.on('redirect', function(url) {
        console.log(url)
        window.location = url
      })

      socket.on('make table', function(msg) {
      console.log(msg)
        for (var i = 0; i < msg.length; i++) {
          t.row.add([
            msg[i]['name'],
            msg[i]['length'],
            msg[i]['description']
          ]).draw(false)
        }
      })
    </script>
  </body>
</html>