<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LanguageCards</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.i18n.properties.js"></script>

  </head>
  <body>
    <div class="dropdown language-dropdawn">
      <button id="chooseLang" class="btn btn-primary dropdown-toggle my-btn" type="button" data-toggle="dropdown">&nbsp;</button>
      <ul id="langList" class="dropdown-menu dropdown-menu-right"></ul>
    </div>
    <div class="text-center well" style="font-size: 26px;"><b id="pageName" style="">&nbsp;</b></div>

    <div class="well container1">
      <div id="headerAllDecks" class="my-header">&nbsp;</div>
      <table id="allDecks" class="table table-striped table-bordered" style="width:100%; font-size: 18px;">
        <thead>
          <tr>
            <th id="labelName1">&nbsp;</th>
            <th id="labelLength1">&nbsp;</th>
            <th id="labelDescription1">&nbsp;</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="headerSelectedDecks" class="my-header">&nbsp;</div>
      <table id="selectedDecks" class="table table-striped table-bordered" style="width:100%; font-size: 14pt;">
        <thead>
          <tr>
            <th id="labelName2">&nbsp;</th>
            <th id="labelLength2">&nbsp;</th>
            <th id="labelDescription2">&nbsp;</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="selected_rows"></div>
      <div class="text-center">
        <div class="btn-group" style="padding: 30px;">
          <button type="button" id="createRoom" class="btn btn-success my-btn">&nbsp;</button>
          <button type="button" id="createDeck" class="btn btn-primary my-btn">&nbsp;</button>
          <button type="button" id="editDeck" class="btn btn-info my-btn">&nbsp;</button>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="message" class="modal-body" style="text-align: center; font-size: 18px"></div>
            <div class="modal-footer">
              <button id="close" type="button" class="btn btn-default" data-dismiss="modal">&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Settings button
    <div class="dropdown view-dropdawn">-->
      <!--<button id="chooseLang1" class="btn btn-info dropdown-toggle my-btn" type="button" data-toggle="dropdown">&nbsp;</button>-->
      <!--<ul id="langList1" class="dropdown-menu dropdown-menu-right">-->
        <!--<li><div>Input</div></li>-->
      <!--</ul>-->
    <!--</div>-->

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      console.log('http://' + document.domain + ':' + location.port)
      var t = $('#allDecks').DataTable({
        "scrollY": "300px",
        "paging": false,
        "info": false
      })
      $('#allDecks_filter').attr("style", "font-size: 18px; font-weight: normal")
      $('#allDecks_filter').find("input").attr("style", "font-weight: normal")
      var t_s = $('#selectedDecks').DataTable({
        "scrollY": "150px",
        "paging": false,
        "info": false,
        "searching": false
      })
      var userLang = navigator.language || navigator.userLanguage;
      if (localStorage.getItem("userLang") != "") {
        updateUILang(localStorage.getItem("userLang"))
      } else {
        updateUILang(userLang)
      }

      socket.on('connect', function() {
        socket.emit('send table', socket.id)
        socket.emit('send languages', socket.id)
      })

      socket.on('redirect', function(url) {
        console.log(url)
        window.location = url
      })

      socket.on('make table', function(msg) {
      console.log(msg)
        for (var i = 0; i < msg.length; i++) {
          t.row.add([
            msg[i]['name'],
            msg[i]['length'],
            msg[i]['description']
          ]).draw(false)
        }
      })

      socket.on('get languages', function(msg) {
        console.log(msg)
        for (var lang in msg) {
          var listElem = document.createElement("li")
          var langElem = document.createElement("a")
          langElem.innerHTML = msg[lang]
          langElem.id = lang
          langElem.className = "langlabel"
          listElem.appendChild(langElem)
          document.getElementById("langList").appendChild(listElem)
        }
      })

      $('#createRoom').on('click', function() {
        var decks = []
        rows = t_s.rows().data()
        if (rows.length === 0) {
          $('#message').html('Please choose at least one deck')
          $('#modal').modal('show')
        } else {
          for (var i = 0; i < rows.length; i++) {
            decks.push(rows[i][0])
          }
          socket.emit('create room', {
          'current_room' : socket.id,
          'decks' : decks
          })
        }
      })

      $('#createDeck').on('click', function() {
        socket.emit('redirect to CreateDeck', socket.id)
      })

      $('#editDeck').on('click', function() {
        var deck
        rows = t_s.rows().data()
        if (rows.length > 1) {
          $('#message').html($.i18n.prop('message_choose_only_one_deck'))
          $('#modal').modal('show')
        } else if (rows.length === 0) {
          $('#message').html($.i18n.prop(message_choose_at_least_one_deck))
          $('#modal').modal('show')
        } else {
          deck = rows[0][0]
          socket.emit('redirect to EditDeck', {
          'room' : socket.id,
          'deck' : deck
          })
        }
      })

      $('#allDecks tbody').on('click', 'tr', function () {
        if (this.childNodes[0].className === "dataTables_empty") {
          return
        }
        var data = t.row(this).data()
        t.row(this).remove().draw()
        t_s.row.add([
          data[0],
          data[1],
          data[2]
        ]).draw()
        updateEmptyRows()
      })

      $('#selectedDecks tbody').on('click', 'tr', function () {
        if (this.childNodes[0].className === "dataTables_empty") {
          return
        }
        var data = t_s.row(this).data()
        t_s.row(this).remove().draw()
        t.row.add([
          data[0],
          data[1],
          data[2]
        ]).draw()
        updateEmptyRows()
      })

      $('#langList').on('click', 'a', function() {
        updateUILang(this.id)
        console.log(this.innerHTML)
      })

      function updateUILang(lang) {
		$.i18n.properties({
		  async: true,
	      name: 'UI',
	      path: '/static/languages/',
    	  mode: 'both',
		  language: lang,
		  callback: function() {
	        $('#createRoom').text($.i18n.prop('button_create_room'))
	        $('#createDeck').text($.i18n.prop('button_create_deck'))
	        $('#editDeck').text($.i18n.prop('button_edit_deck'))
	        $('#close').text($.i18n.prop('button_close'))
	        $('#pageName').text($.i18n.prop('page_name_start'))
	        $('#headerAllDecks').text($.i18n.prop('header_all_decks') + ":")
	        $('#headerSelectedDecks').text($.i18n.prop('header_selected_decks') + ":")
            $('#labelName1').text($.i18n.prop('label_name'))
            $('#labelLength1').text($.i18n.prop('label_length'))
            $('#labelDescription1').text($.i18n.prop('label_description'))
            $('#labelName2').text($.i18n.prop('label_name'))
            $('#labelLength2').text($.i18n.prop('label_length'))
            $('#labelDescription2').text($.i18n.prop('label_description'))
            $('#chooseLang').text($.i18n.prop('label_choose_language'))

            updateEmptyRows()

	        var searchText = $('#allDecks_filter').find("label").html()
	        searchText = $.i18n.prop('label_search') + searchText.substr(searchText.indexOf('<'))
	        $('#allDecks_filter').find("label").html(searchText)
	        $('#allDecks_filter').find("input").keyup(function () {
              t.search(
                $('#allDecks_filter').find("input").val()
              ).draw()
            })

            localStorage.setItem("userLang", lang)
	        console.log("Language set")
	      }
		})
	  }

	  function updateEmptyRows() {
        $('.dataTables_empty').html($.i18n.prop('label_no_decks'))
	  }
    </script>
  </body>
</html>