<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit deck</title>

    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.i18n.properties.js"></script>
  </head>
  <body>
    <div class="dropdown language-dropdawn my-font">
      <button id="chooseLang" class="btn btn-primary dropdown-toggle my-btn" type="button" data-toggle="dropdown">&nbsp;</span></button>
      <ul id="langList" class="dropdown-menu dropdown-menu-right"></ul>
    </div>
    <div id="pageName" class="text-center well my-font page-header">&nbsp;</div>

    <div class="well container1 my-font">
      <table width="100%">
        <tbody>
          <tr>
            <td id="labelName" class="name-cell" align="right" width="15%">&nbsp;</td>
            <td><div id="name" style="font-size: 20px; text-align: left"></div></td>
          </tr>
          <tr>
            <td id="labelDescription" class="name-cell" align="right" valign="top">&nbsp;</td>
            <td height="150"><textarea id="description" class="form-control my-ta" readonly></textarea></td>
          </tr>
          <tr>
            <td id="labelCards" class="name-cell" align="right" valign="top">&nbsp;</td>
            <td height="300"><textarea id="cards" class="form-control my-ta"></textarea></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" style="padding: 30px;">
          <button type="button" id="save" class="btn btn-success my-btn">&nbsp;</button>
          <button type="button" id="export" class="btn btn-primary my-btn">&nbsp;</button>
          <button type="button" id="delete" class="btn btn-warning my-btn">&nbsp;</button>
          <button type="button" id="back" class="btn btn-info my-btn">&nbsp;</button>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade my-font" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="message" class="modal-body message-label"></div>
            <div class="modal-footer">
              <button id="close" type="button" class="btn btn-default" data-dismiss="modal">&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var socket = io('http://' + document.domain + ':' + location.port)
      var name = decodeURI(location.href.substr(location.href.lastIndexOf("/") + 1))
      $('#name').text(name)
      updateUILang(localStorage.getItem("userLang"))

      socket.on('connect', function() {
        if (!document.getElementById("langList").hasChildNodes()) {
          socket.emit('send languages', socket.id)
          socket.emit('send deck info', {
            'room': socket.id,
            'name': name
          })
        }
      })

      socket.on('get deck info', function(data) {
        $('#description').text(data.description)
        var cards = ''
        for (var i = 0; i < data.cards.length; i++) {
          cards += data.cards[i] + '\n'
        }
        $('#cards').text(cards)
      })

      socket.on('message', function(mes) {
        $('#message').html($.i18n.prop(mes))
        $('#modal').modal('show')
      })

      socket.on('redirect', function(url) {
        window.location = url
      })

      socket.on('get languages', function(msg) {
        for (var lang in msg) {
          var listElem = document.createElement("li")
          var langElem = document.createElement("a")
          langElem.innerHTML = msg[lang]
          langElem.id = lang
          langElem.className = "lang-label"
          listElem.appendChild(langElem)
          document.getElementById("langList").appendChild(listElem)
        }
      })

      $('#save').on('click', function() {
        var cards = $('#cards').val()
        socket.emit('change deck', {
          'deck' : name,
          'cards' : cards
        })
        socket.emit('clear tmp')
        $('#message').html($.i18n.prop('message_changes_saved'))
        $('#modal').modal('show')
      })

      $('#export').on('click', function() {
        window.open('/decks/' + name + '.txt')
      })

      $('#delete').on('click', function() {
        socket.emit('delete deck', name)
        socket.emit('clear tmp')
        socket.emit('redirect to Start', socket.id)
      })

      $('#back').on('click', function() {
        socket.emit('clear tmp')
        socket.emit('redirect to Start', socket.id)
      })

      $('#langList').on('click', 'a', function() {
        updateUILang(this.id)
      })

      function updateUILang(lang) {
		$.i18n.properties({
		  async: true,
	      name: 'UI',
	      path: '/static/languages/',
    	  mode: 'both',
		  language: lang,
		  callback: function() {
	        $('#save').text($.i18n.prop('button_save'))
	        $('#back').text($.i18n.prop('button_back'))
	        $('#export').text($.i18n.prop('button_export'))
	        $('#delete').text($.i18n.prop('button_delete'))
	        $('#close').text($.i18n.prop('button_close'))
	        $('#pageName').text($.i18n.prop('page_name_edit_deck'))
	        $('#labelName').text($.i18n.prop('label_name') + ": ")
            $('#labelDescription').text($.i18n.prop('label_description') + ": ")
            $('#labelCards').text($.i18n.prop('label_cards') + ": ")
            $('#chooseLang').text($.i18n.prop('label_choose_language'))

            localStorage.setItem("userLang", lang)
	      }
		})
	  }
    </script>
  </body>
</html>